<div class="bg-wrapper light-bg mb-80 mt-80 lg-mt-40">
  <div class="row">
    <div class="col-lg-5">
      <div class="d-flex flex-column flex-lg-column-reverse">
        <div class="row">
          <div class="col-md-8 col-6 me-auto ms-auto">
            <img src="assets/imagesassets/ils_07.svg"
                 alt=""
                 class="lazy-img me-auto ms-auto">
          </div>
        </div>
        <div class="title-one text-center text-lg-end md-mt-20">
          <h2 style="  font-size: 50px;">هل لديك استفسارات؟ تواصل معنا عبر واتساب</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-flex justify-content-center align-items-center">
      <div class="contact-info pe-xl-5">
        <div class="row">
          <div class="col-12 mb-4">
            <div class="contact-method text-center">
              <h4 class="mb-3">تواصل معنا الآن</h4>
              <p class="mb-4">نحن متاحون 24 ساعة طوال الأسبوع لخدمتك</p>
              <a href="https://wa.me/966534970654?text=مرحباً، أريد الاستفسار عن خدمات تسديد القروض والمتعثرات"
                 target="_blank"
                 class="btn btn-success btn-lg d-inline-flex align-items-center">
                <i class="bi bi-whatsapp mx-2"></i>
                <span>تواصل عبر واتساب</span>
              </a>
            </div>
          </div>
        </div>
      </div> <!-- /.contact-info -->
    </div>
  </div>
</div>