<div class="fancy-banner-five text-center position-relative pt-80 md-pt-60 pb-80 md-pb-60">
  <div class="container">
    <h2 class="text-white fw-bold">{{ title }}</h2>
    <p class="text-white  pt-30 md-pt-10">{{ description }}</p>
    <div class="
       whatsapp-contact-section">
      <a [href]="'https://wa.me/' + whatsappNumber + '?text=' + whatsappMessage"
         target="_blank"
         class="whatsapp-btn d-inline-flex align-items-center justify-content-center mt-30 mb-20">
        <i class="bi bi-whatsapp me-3"></i>
        <span>تواصل معنا عبر واتساب</span>
      </a>
    </div>
  </div>
</div>