
<div class="text-feature-two position-relative pt-110 lg-pt-80 pb-110 lg-pb-80"
     dir="rtl">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-7">
        <div class="title-one">
          <h2 class="text-white">الأرقام تعكس سمعتنا وثقة عملائنا</h2>
        </div>
      </div>
      <div class="col-lg-5 ms-auto">
        <p class="m0 text-md text-white md-pt-10">
          خبرتنا، سرعة إنجازنا، ومعاملاتنا الشرعية جعلتنا الوجهة الأولى للحلول البنكية والتمويلية داخل المملكة العربية السعودية.
        </p>
      </div>
    </div>

    <div class="row gx-0 mt-50 lg-mt-20 md-mt-10">
      <div class="col-lg-4">
        <div class="card-style-five text-center mt-60">
          <div class="icon d-flex align-content-center justify-content-center">
            <img src="assets/images/icon/icon_17.svg"
                 data-src="assets/images/icon/icon_17.svg"
                 alt=""
                 class="lazy-img">
          </div>
          <div class="main-count fw-500"><span class="counter">10</span>+ سنوات</div>
          <p class="ps-xxl-5 ps-xl-3 pe-xxl-5 pe-xl-3">
            خبرة عملية في التمويل والقروض العقارية والشخصية والمؤسساتية.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-style-five text-center mt-60">
          <div class="icon d-flex align-content-center justify-content-center">
            <img src="assets/images/icon/icon_18.svg"
                 data-src="assets/imagesicon/icon_18.svg"
                 alt=""
                 class="lazy-img">
          </div>
          <div class="main-count fw-500"><span class="counter">1.3</span> مليار+</div>
          <p class="ps-xxl-5 ps-xl-3 pe-xxl-5 pe-xl-3">
            تمويلات وقروض ناجحة بالتعاون مع أكبر البنوك والشركات السعودية.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-style-five text-center mt-60">
          <div class="icon d-flex align-content-center justify-content-center">
            <img src="assets/images/icon/icon_19.svg"
                 data-src="assets/images/icon/icon_19.svg"
                 alt=""
                 class="lazy-img">
          </div>
          <div class="main-count fw-500"><span class="counter">3000</span>+ عميل</div>
          <p class="ps-xxl-5 ps-xl-3 pe-xxl-5 pe-xl-3">
            عملاء سعداء من مختلف أنحاء المملكة يثقون بخدماتنا الشرعية.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/images/lazy.svg"
       data-src="assets/images/shape/shape_07.svg"
       alt=""
       class="lazy-img shapes shape_01">
  <img src="assets/images/lazy.svg"
       data-src="assets/images/shape/shape_08.svg"
       alt=""
       class="lazy-img shapes shape_02">
</div>
