@use '../../../../assets/scss/_variables' as *;
@use '../../../../assets/scss/_mixins' as *;

// Text Feature Two
.text-feature-two {
  background: $color-three;
  z-index: 1;

  .shape_01 {
    top: 16%;
    left: 3%;
    width: 2.3%;
    min-width: 28px;
    animation: rotated 50s infinite linear;
  }

  .shape_02 {
    bottom: 5%;
    right: 2%;
    width: 1.5%;
    min-width: 22px;
    animation: rotated 48s infinite linear;
  }
}

// Mobile responsive fonts
@media screen and (max-width: 768px) {
  .text-feature-two {
    .title-one h2 {
      font-size: 42px !important;
      line-height: 1.3 !important;
    }

    p {
      font-size: 18px !important;
      line-height: 1.4 !important;
    }

    .main-count {
      font-size: 28px !important;
      line-height: 1.2 !important;
    }

    .card-style-five p {
      font-size: 18px !important;
      line-height: 1.3 !important;
    }
  }
}