<swiper-container class="partner-swiper"
                  slides-per-view="5"
                  space-between="20"
                  autoplay="true"
                  autoplay-delay="3500"
                  loop="true"
                  speed="600"
                  breakpoints='{
    "768": {
      "slidesPerView": 3,
      "spaceBetween": 15
    },
    "576": {
      "slidesPerView": 2,
      "spaceBetween": 10
    },
    "992": {
      "slidesPerView": 4,
      "spaceBetween": 20
    }
  }'>

  <swiper-slide *ngFor="let partner of partners">
    <div class="partner-item">
      <img [src]="partner.logo"
           [alt]="partner.alt"
           class="partner-logo"
           loading="lazy">
    </div>
  </swiper-slide>

</swiper-container>