<div class="row">
  <div class="title-one text-center mb-50 lg-mb-20">
    <h2>تواصل معنا الآن</h2>
    <p class="subtitle">نحن متاحون 24/7 لخدمتك في جميع أنحاء المملكة العربية السعودية</p>
  </div>
  <div class="col-12 m-auto">
    <div class="row">
      <div class="col-md-4">
        <div class="address-block-one text-center mb-40 wow fadeInUp"
             style="visibility: visible; animation-name: fadeInUp;">
          <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto">
            <img src="assets/images/icon/icon_92.svg"
                 alt=""
                 class="lazy-img"
                 style="">
          </div>
          <h5 class="title">رقم الموبايل</h5>
          <a href="https://wa.me/966534970654?text=مرحباً، أريد الاستفسار عن خدمات تسديد القروض والمتعثرات"
             class="call text-lg fw-500">+966 53 497 0654</a>
        </div> <!-- /.address-block-one -->
      </div>
      <div class="col-md-4">
        <div class="address-block-one text-center mb-40 wow fadeInUp"
             style="visibility: visible; animation-name: fadeInUp;">
          <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img src="assets/imagesicon/icon_91.svg"
                 alt=""
                 class="lazy-img"
                 style=""></div>
          <h5 class="title">واتساب 24 ساعة</h5>
          <a href="https://wa.me/966534970654?text=مرحباً، أريد الاستفسار عن خدمات تسديد القروض والمتعثرات"
             class="call text-lg fw-500">+966 53 497 0654</a>
        </div> <!-- /.address-block-one -->
      </div>
      <div class="col-md-4">
        <div class="address-block-one text-center mb-40 wow fadeInUp"
             style="visibility: visible; animation-name: fadeInUp;">
          <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img src="assets/imagesicon/icon_90.svg"
                 alt=""
                 class="lazy-img"
                 style=""></div>
          <h5 class="title">مناطق الخدمة</h5>
          <p>نخدم جميع مناطق المملكة العربية السعودية<br> </p>
        </div> <!-- /.address-block-one -->
      </div>
    </div>
  </div>
</div>
