<div class="block-feature-four position-relative pt-100 pb-150 lg-pb-80">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-8 col-lg-9 m-auto"
           data-aos="fade-up">
        <div class="title-one text-center mb-50 lg-mb-20">
          <h2>نساعدك بخطوات آمنة وسريعة لحلولك التمويلية الشرعية</h2>
        </div>
      </div>
    </div>

    <div class="row gx-xxl-5">
      <div class="col-lg-4 d-flex"
           *ngFor="let feature of features; let i = index"
           data-aos="fade-up"
           [attr.data-aos-delay]="i * 100">
        <div class="card-style-six text-center vstack tran3s w-100 mt-30"
             [class.active]="feature.isActive">
          <div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto">
            <i class="bi bi-{{ feature.icon || 'question-circle' }}"></i>
          </div>
          <h4 class="fw-bold mt-40 md-mt-30 mb-25">{{ feature.title }}</h4>
          <p class="mb-20">{{ feature.description }}</p>
          <a [routerLink]="feature.link"
             class="arrow-btn tran3s m-auto stretched-link">
            <i class="bi bi-arrow-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>