<app-header></app-header>
<div class="contact-us-section pt-150 lg-pt-80">
  <div class="container">
    <div class="position-relative">
      <app-contact-info></app-contact-info>

    </div>
  </div>
</div>
  <app-contact-banner [title]="getContactBannerData().title"
                      [description]="getContactBannerData().description"
                      [whatsappNumber]="getContactBannerData().whatsappNumber"
                      [phoneNumber]="getContactBannerData().phoneNumber"
                      [email]="getContactBannerData().email"
                      [whatsappMessage]="getContactBannerData().whatsappMessage">
  </app-contact-banner>
<app-whatsapp-contact></app-whatsapp-contact>
<app-footer></app-footer>
