<header class="theme-main-menu menu-overlay menu-style-two sticky-menu">

  <div class="gap-fix info-row">
    <div class="d-md-flex justify-content-between">
      <div class="greetings text-center">
        <span class="fw-500">مرحباً بكم في موقع سداد أبو تركي</span>
      </div>
      <div class="d-flex align-items-center gap-3">
        <ul class="style-none d-none d-md-flex contact-info p-0">
          <li style="direction: ltr;"
              class="d-flex align-items-center gap-2">
            <a class="fw-500"
               (click)="openWhatsApp()"
               style="cursor: pointer;"
               aria-label="فتح الواتساب"
               title="فتح الواتساب">+966 50 123 4567</a>
            <img src="/images/icon/icon_15.svg"
                 alt="Phone icon"
                 class="lazy-img icon me-2">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="inner-content gap-fix">
    <div class="top-header position-relative">
      <div class="d-flex justify-content-between align-items-center">
        <div class="logo order-lg-0">
          <a href="index.html"
             class="d-flex align-items-center">
            <div class="logo"><a href="index.html"
                 class="d-block"><img style="width:220px"
                     src="/images/logo/logo-abotorky.svg"
                     alt=""></a></div>
          </a>
        </div>
        <nav class="navbar navbar-expand-lg p0 order-lg-2">
          <button class="navbar-toggler d-block d-lg-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="تبديل القائمة">
            <span></span>
          </button>
          <div class="collapse navbar-collapse"
               id="navbarNav">
            <ul class="navbar-nav align-items-lg-center w-100 justify-content-between">
              <li class="d-block d-lg-none">
                <div class="logo"><a href="/"
                     class="d-block"><img src="/images/logo/logo-abotorky.svg"
                         alt=""></a></div>
              </li>

              <!-- Home -->
              <li class="nav-item">
                <a class="nav-link"
                   routerLink="/"
                   role="button">الرئيسية</a>
              </li>

              <!-- Services -->
              <li class="nav-item">
                <a class="nav-link"
                   routerLink="/services"
                   role="button">الخدمات</a>
              </li>

              <!-- About -->
              <li class="nav-item">
                <a class="nav-link"
                   routerLink="/about"
                   role="button">من نحن</a>
              </li>

              <!-- Contact -->
              <li class="nav-item">
                <a class="nav-link"
                   routerLink="/contact"
                   role="button">تواصل معنا</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="right-widget order-lg-3 ms-auto">
          <div class="d-flex align-items-center style-none">

            <button class="btn-four"
                    type="submit"
                    (click)="openWhatsApp()">
              <span>تواصل معنا</span>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>